body{
  min-height: 100%;
  height: 100%;
  overflow-y: auto;
  transition: all 1s ease-in-out;
}

body {background-color: #000001;}

h1, h2, h3, h4, h5, p {
  margin-top: 0;
}

header {
  height: 4rem;
  overflow: hidden;
  width: 100%;
}
.sub-header {
  background-color: #000002;
  padding: 0 20px 0 20px;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
}
.third-header {
  margin: 16px 0 0 0;
}

main {
  margin: 5rem 0 0 0;
  transition: background 1s ease-in-out;
}

.parallax-container {
  height: 100vh;
}
.parallax img {
  bottom: 50%;
}

.seccion {
  margin: 0;
  height: 100vh;
	top: 0;
	left: 0;
	padding: 0;
	transition: all 1s ease-in-out;
}

.inner-section {
  text-align: center;
  margin: 0;
}

.vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;

  display: -webkit-flex;
  -webkit-flex-direction: column;
  justify-content: center;
}

#seccion0 {
  background-image: url(../img/section0.jpg);
  background-size: cover;
}

#seccion1 {
  position: relative;
  background-image: url(../img/parallax.jpg);
  background-size: cover;
  background-attachment: fixed;
}

#seccion2 {
  position: relative;
}

#seccion2 .inner-section .col-img {
  height: 100vh;
  background-image: url(../img/seccion0.jpg);
  background-size: cover;
  background-position: center;
}

#seccion2 .inner-section .vertical-center {
  height: 100vh;
}

#seccion3 {
  position: relative;
  background-image: url(../img/section3.jpg);
  background-size: cover;
  background-attachment: fixed;
}

#seccion4 {
  margin: 0;
}

.amazing-title {
  font-size: 10rem;
}
.amazing-subtitle {
  font-size: 8rem;
}

@media only screen and (max-width: 600px) {
  h3 {
    font-size: 2rem;
  }
  .amazing-title {
    font-size: 6rem;
  }
  .amazing-subtitle {
    font-size: 4rem;
  }

  #seccion2 {
    height: auto;
  }

  #seccion2 .inner-section .vertical-center {
    height: auto;
  }

  #seccion0, #seccion1, #seccion3{
    background-size: cover;
    background-position: center;
    width: 100%;
  }
}
